@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-color: #ffffff;  
  --text-color: #001f3f;  
  --card-color: #ebeced;
  --bg-base-header: rgba(255, 255, 255, 1);
  --text-hover: #3b82f6;
  --bg-icon: #3b3939;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--base-color);
  color: var(--text-color);
}

.bg-base {
  background-color: var(--base-color);
}

.bg-card {
  background-color: var(--card-color);
}

.bg-base-header {
  background-color: var(--bg-base-header);
}

.hover\:text-hover:hover {
  color: var(--text-hover);
}

.underline-animation {
  position: relative;
  display: inline-block;
}

.underline-animation::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background-color: rgba(239, 68, 68, 1); 
  transform: scaleX(0); 
  transition: transform 0.3s ease; 
}

.underline-animation:hover::after {
  transform: scaleX(1); 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-out {
  animation: fadeOut 1s ease-in-out;
}

.mobile-menu-animate {
  animation: mobile-menu-animate 0.5s ease-in-out;
}

@keyframes mobile-menu-animate {
  0% {
    transform: translateY(-130%);
  }
  100% {
    transform: translateY(0);
  }
}

.mobile-menu-animateRemove {
  animation: mobile-menu-animateRemove 0.5s ease-in-out;
}

@keyframes mobile-menu-animateRemove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-130%);
  }
}


.button {
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  border: none;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.button svg {
  color: white;
  width: 60%;
  height: 60%;
  z-index: 9;
}

.button:nth-child(1) {
  background: black;
}

.button:nth-child(2) {
  background: rgb(114, 137, 218);
}

.button:nth-child(3) {
  background: rgb(0, 119, 181);
}

.button:nth-child(4) {
  background: rgb(242, 242, 242);
}

.button:active {
  transform: scale(0.85);
}

.animation-carousel-track {
  animation: scroll 15s linear infinite;
}

.carousel-image {
  width: 10%;
  flex-shrink: 0;
}

@keyframes scroll {
  0% { transform: translateX(5%); }
  100% { transform: translateX(-70%); }
}









::-webkit-scrollbar {
    width: 15px; 
    height: 15px; 
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background: rgb(96, 165, 250); 
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(59, 130, 246);
}

* {
    scrollbar-width: thin; 
    scrollbar-color: #3b82f6 #f1f1f1; 
}

